.main_container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.games_container{
    display: flex;
    align-items: start;
}

@media screen and (max-width: 700px) {
    .games_container{
        display: contents;
    }
}